@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
ul {	
	list-style-type: none;
	margin: 5px;
	padding: 0px 5px 0px 5px;
	overflow: hidden;
}
li {
	display: inline;
	float: left;
}
a {
	display: block;
	padding: 12px;
}

.footer {
	position: absolute;
	width: 100%;
	height: 100px;
	text-align: center;
}
.header {
	text-align: center;
}
@font-face {
	font-family: "CaviarDreams";
	src: url('CaviarDreams.ttf');
}
h1 {
	font-family: "CaviarDreams";
}
a:link {

}
a:visited {
	color: #00395B;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
.quote-rotate {
 	position: absolute;
	top: 10px;
	opacity: 0;
	overflow: visible;
	visibility: hidden;
	transition: opacity, 0.3s, ease;
	padding-bottom: 10px;
}
.quote-dots {
	margin: 0 auto;
	text-align: center;
}

.nav-dot {
	height: 10px;
	width: 10px;
	border: 1px solid black;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.quotes {
	position: relative;
	margin: auto;
	padding: 0 10px 50px 10px;
	position: relative;
}
.show {
	opacity: 1;
	visibility: visible;
}

.dot-fill { background-color: black; }

.nav-dot:last-of-type { margin: 0; }
